<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paperscrapper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="COVID19 RESEARCH"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:screenOrientation="locked"
        android:theme="@style/HiddenTitleTheme">
        <activity android:name=".paperview"/>
        <activity android:name=".SearchActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Medical" />
        <activity android:name=".NonMedical"/>


    </application>

</manifest>